.grid {
    display: grid;
    width: 100%
}

/* ABOUT GRID */

.about {
    & .grid {
        grid-template-columns: 1fr;

        @media only screen and (min-width: 568px) {
            grid-template-columns: repeat(2, 1fr)
        }

        @media only screen and (min-width: 1024px) {
            grid-template-columns: 50% 20% 30%;
            grid-template-rows: 20rem 30rem;
        }

        @media only screen and (min-width: 1366px) {
            grid-template-columns: 50% 20% 30%;
            grid-template-rows: 25rem 35rem;
        }

        @media only screen and (min-width: 1440px) {
            grid-template-columns: 50% 10% 40%;
            grid-template-rows: 25rem 35rem;
        }

        &__item {
            height: 100%;
            width: 100%;

            &--1 {
                background-image: url(../images/mobile/image-interactive.jpg);
                width: 100%;
                height: 25rem;
                @include bg-image;
                margin-bottom: 5rem;

                @media only screen and (min-width: 568px) {
                    background-image: url(../images/desktop/image-interactive.jpg);
                    height: 100%;
                }

                @media only screen and (min-width: 1024px) {
                    grid-column: 1 / 3;
                    grid-row: 1 / 3;
                }

                @media only screen and (min-width: 1366px) {
                    grid-column: 1 / 3;
                    grid-row: 1 / 3;
                }

                @media only screen and (min-width: 1440px) {
                    grid-column: 1 / 3;
                    grid-row: 1 / 3;
                }
            }

            &--2 {
                text-align: center;

                @media only screen and (min-width: 568px) {
                    background-color: $color-primary;
                    padding: 5rem 5rem 0 5rem;
                }

                @media only screen and (min-width: 1024px) {
                    grid-column: 2 / 4;
                    grid-row: 2 / 3;
                    text-align: left;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;
                    flex-direction: column;
                }

                @media only screen and (min-width: 1366px) {
                    grid-column: 2 / 4;
                    grid-row: 2 / 3;
                }

                @media only screen and (min-width: 1440px) {
                    grid-column: 2 / 4;
                    grid-row: 2 / 3;
                    padding: 5rem;
                }
            }
        }
    }
}

/* OUR CREATIONS GRID */
.our-creations {
    & .grid {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
        margin: 3.5rem 0;

        @media only screen and (min-width: 568px) {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 2.5rem;
        }

        @media only screen and (min-width: 1024px) {
            margin: 5rem 0 0 0;
        }


        &__item {
            height: 24rem;
            width: 100%;
            position: relative;
            overflow: hidden;
            cursor: pointer;

            @media only screen and (min-width: 568px) {
                height: 36rem;
            }

            @media only screen and (min-width: 1024px) {
                height: 55rem;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0%;
                right: 0%;
                bottom: 0%;
                left: 0%;
                z-index: 2;
                height: 100%;
                width: 100%;
                background-color: $color-tertiary;
                opacity: 0;
                transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
            }

            &--1 {
                background-image: url(../images/mobile/image-deep-earth.jpg);
                @include bg-image;

                @media only screen and (min-width: 568px) {
                    background-image: url(../images/desktop/image-deep-earth.jpg);
                }

            }

            &--2 {
                background: url(../images/mobile/image-night-arcade.jpg);
                @include bg-image;

                @media only screen and (min-width: 568px) {
                    background-image: url(../images/desktop/image-night-arcade.jpg);
                }
            }

            &--3 {
                background: url(../images/mobile/image-soccer-team.jpg);
                @include bg-image;

                @media only screen and (min-width: 568px) {
                    background-image: url(../images/desktop/image-soccer-team.jpg);
                }
            }

            &--4 {
                background: url(../images/mobile/image-grid.jpg);
                @include bg-image;

                @media only screen and (min-width: 568px) {
                    background-image: url(../images/desktop/image-grid.jpg);
                }
            }

            &--5 {
                background: url(../images/mobile/image-from-above.jpg);
                @include bg-image;

                @media only screen and (min-width: 568px) {
                    background-image: url(../images/desktop/image-from-above.jpg);
                }
            }

            &--6 {
                background: url(../images/mobile/image-pocket-borealis.jpg);
                @include bg-image;

                @media only screen and (min-width: 568px) {
                    background-image: url(../images/desktop/image-pocket-borealis.jpg);
                }
            }

            &--7 {
                background: url(../images/mobile/image-curiosity.jpg);
                @include bg-image;

                @media only screen and (min-width: 568px) {
                    background-image: url(../images/desktop/image-curiosity.jpg);
                }
            }

            &--8 {
                background: url(../images/mobile/image-fisheye.jpg);
                @include bg-image;

                @media only screen and (min-width: 568px) {
                    background-image: url(../images/desktop/image-fisheye.jpg);
                }
            }

            & h3 {
                position: absolute;
                left: 2.5rem;
                bottom: 3.5rem;
                z-index: 3;
                transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
            }

            &:hover {
                & h3 {
                    color: $color-secondary;
                }

                &::after {
                    opacity: 0.75;
                }
            }
        }
    }
}